<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="{% static 'css/output.css' %}" rel="stylesheet" type="text/css"/>
    <title>Login</title>
</head>
<body>
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=cyan&shade=500" alt="Your Company"
             class="mx-auto h-10 w-auto"/>
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-white">Sign in to your account</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% if form.errors %}
            <div class="bg-red-500/10 text-red-400 p-3 rounded mb-4">
                <p>Invalid username or password. Please try again.</p>
            </div>
        {% endif %}
        <form action="#" method="POST" class="space-y-6">
            {% csrf_token %}
            <div>
                <label for="username" class="block text-sm/6 font-medium text-gray-100">Username</label>
                <div class="mt-2">
                    <input
                            id="username"
                            type="text"
                            name="username"
                            required
                            autocomplete="username"
                            placeholder="Username"
                            pattern="[A-Za-z][A-Za-z0-9\-]*"
                            minlength="3"
                            maxlength="30"
                            title="Username must start with a letter and contain only letters, numbers, or dashes"
                            class="block w-full rounded-md bg-white/5 px-4 py-2 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-500 sm:text-sm/6"
                    />
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-100">Password</label>
                    <div class="text-sm">
                        <a href="#" class="font-semibold text-cyan-400 hover:text-cyan-300">Forgot password?</a>
                    </div>
                </div>
                <div class="mt-2">
                    <input id="password" type="password"
                           name="password"
                           placeholder="password"
                           required autocomplete="current-password"
                           class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-cyan-500 sm:text-sm/6"/>
                </div>
            </div>

            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-cyan-500 px-3 py-1.5 text-sm/6 font-semibold text-white hover:bg-cyan-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-cyan-500">
                    Sign in
                </button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm/6 text-gray-400">
            Not a member?
            <a href="{% url 'register' %}" class="font-semibold text-cyan-400 hover:text-cyan-300">Click here to register</a>
        </p>
    </div>
</div>
</body>
</html>